body {
	margin: 0;  
	background-color: #29bde0;
}
i {
	background-image: url(7_3_sprites.png);
	background-repeat: no-repeat;
	background-size: 13.3rem 6.2rem;
}
.bg-7_msg {
	float: right;
	position: relative;
	margin: .9rem; 
    width: 1.9rem; 
    height: 1.8rem;
    background-position:  -3.7rem -.4rem;
    background-size:  6rem 2.6rem;
}
.bg-7_home {
	float: left;
	position: relative;
	margin: .8rem;
    width: 2rem; 
    height: 1.7rem;
    background-position:  -.4rem -.4rem;
    background-size:  5.3rem 2.5rem;
}


.wrap {
	width: 100%;
	height: 3.5rem;
}

header {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 3.5rem;
	line-height: 3.8rem;
	text-align: center;
	border-bottom: 1px solid #74d4eb;
	background-color: #29bde0;
}
.head {
	display: inline-block;
	font-size: 1.5rem;
	line-height: 3rem;
	color: #fff;
}
img {
	display: block;
	margin: 1rem auto;
	width: 50vw;
	text-align: center;
}
.praise {
	margin: 2rem 3rem;
	color: #ffc865;
	text-align: justify;
	font-size: 1.2rem; 
	font-weight: 600;
}
.time {
	margin: 0 3rem;
	color: #fff;
	text-align: justify;
	font-size: 1rem; 
	font-weight: 300;
	letter-spacing: 1px;
}
.summerize {
	margin: 0 3rem;
	margin-bottom: 3rem;
}
.summerize p {
	display: inline-block;
	float: left;
	width: 25vw;
	color: #fff;
	margin: 0;
	line-height: 1.5rem;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 1rem;
}
.clear {
	clear: both;
}
.voc {
	margin: 0 3rem;
	overflow: hidden;
	color: #fff;
	letter-spacing: 1.5px;
	font-weight: 300;
	font-size: 1rem;
}
.detail {
	width: 84vw;
	padding: 2vw 8vw 4vw 8vw;
	background-color: #fff;
	border: 1px solid #ddd;
}
.cont {
	margin-bottom: 1rem;
}
.state {
	margin-top: 2rem;
	font-size: 1rem;
	color: #a6a6a6;
}
.state p {
	margin: 0;
}
.day {
	float: left;
	font-size: 1.2rem;
	color: #515151;
}
.during {
	float: right;
	font-size: 1rem;
	color: #c7c7c7;
}

.tailwrap {
	width: 100%;
	height: 6rem;
	background-color: #fff;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;		
	display: flex;
	flex-wrap: nowrap;
	width: 100%;	
	height: 6rem;
	background-color: rgba(41,189,224,.5);

}
button {
	cursor: pointer;
	flex-grow: 2;
	flex-basis: 0%;
	margin: 1rem;
	border-radius: 1rem;
	border: none;
	font-size: 1.2rem;
	outline: none;

}

.again-btn {
	color: #fff;
	background-color: #f66f6f;
}
.upload-btn {
	color: #fff;
	background-color: #fbb435;
}