body {
    background-color: #fafafa;
}
i {
    background: url(8_2_sprites.png) no-repeat;
}
.bg-8_ewm {
    width: 92px;
    height: 92px;
    background-position: -1px -1px;
}
.bg-8_tudou {
    float: left;
    margin: 2rem 5rem;
    width: 124px;
    height: 42px;
    background-position: -1px -95px;
}
.bg-8_logo {
    float: left;
    position: relative;
    top: .8vw;
    margin: 0 15vw;
    width: 111px;
    height: 52px;
    background-position: -95px -1px;
}
.bg-8_wb {
    float: right;
    width: 26px;
    height: 26px;
    background-position: -124px -55px;
}
.bg-8_wx {
    float: right;
    width: 26px;
    height: 26px;
    background-position: -152px -55px;
}
.bg-8_qq {
    float: right;
    margin: 0 1rem 0 1rem;
    width: 27px;
    height: 26px;
    background-position: -95px -55px;
}

.log {
    float: right;
    position: relative;
    margin: .3rem;
    height: 26px;
}
header {
    margin: 0 15vw;
    height: 35px;
}
.contact {
    display: inline-block;
    color: #29b078;
    font-size: .8vw;
    line-height: 35px;
}
.pages {
    width: 100%;
    height: 80px;
    background-color: #29b078;
}

.pages ul {
    right: 0;
    position: absolute;
    padding: 0;
    margin: 0 13.5vw;
    line-height: 80px;
    text-align: center;
}
.pagenav li {
    display: inline-block;
    list-style-type: none;
    width: 80px;
    height: 80px;
}
.pagenav li a {
    color: #fff;
    text-decoration:none;
}
.pagenav li:hover, .pagenav li:focus {
    border-bottom: 4px solid #fff;
}

img {
    width: 100vw;
}

.level {
    float: left;
    margin: 1vw 14vw;
}
.level span {
	color: #29b078;
}
.clear {
    clear: both;
}

.main {
    margin: 0 14vw;
}
.cop {
    float: left;
    width: 14vw;
    box-shadow: 0 1px 2px #dedede;
}
.title {
    text-align: center;
    padding: 1vw 3vw;
    font-size: .9vw;
    border-bottom: 1px solid #dedede;
}
.cop ul {
    margin: 1vw 0 1vw 4.8vw;

     padding: 0;
     line-height: 2vw;
     color: #29b078;
     list-style: none;
}

.cop ul li::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    width: 9px;
    height: 9px;
    border: 2px solid #f9a372;
    vertical-align: middle;
    border-radius: 100%;
}
.cop ul li:hover, .active {
    color: #f9a372;
}
.cop ul li:hover::before, .active::before {
    background-color: #f9a372;
}


.tudou {
    float: right;
    width: 54vw;
    box-shadow: 0 1px 2px #dedede;
    margin-bottom: 10rem;
}
.abstract {
    padding: 2rem 3rem;
    border-bottom: 1px solid #dedede;
}
.intro {
    overflow: hidden;
    color: #999;
    line-height: 2.5rem;
    font-size: 1.6rem;
    text-align: justify;
}
.content {
    padding: 2rem 3rem 6rem 3rem;
}
.content p {
    margin: 2rem;
    text-align: justify;
    text-indent: 2.5rem;
    color: #999;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.promotion {
    height: 13rem;
    padding: 2rem 14vw 0 14vw;
    color: #fff;
    background-color: #29b078;
}
.webs {
    float: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    font-size: .9vw;
    width: 40vw;
}
.more {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 5.5vw;
}
.more span a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}

.more span a:hover {
    border-bottom: 1px solid #fff;
}
.us {
    display: flex;
    justify-content: space-between;
    width: 110%;
    height: 16px;
    line-height: 16px;
}
.split {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 .7rem;
}
.others {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 16.5vw;
}
.others span {
    padding-bottom: 20px;
}

.under span {
    display: inline-block;
    color: #fff;
    padding: 0 1.1vw 1vw 0
}
.under span a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}
.under span a:hover {
    border-bottom: 1px solid #fff;
}

.wx {
    float: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: .8vw;
}

footer {
    text-align-last: center;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #32c086;
    color: #32c086;
    background-color: #29b078;
}
