body {
    background-color: #fafafa;
}
i {
    background: url(8_1_sprites.png) no-repeat;

}
.bg_8-p1 {
    width: 108px;
    height: 108px;
    background-position: -0 -0;
}

.bg_8-p2 {
    width: 108px;
    height: 108px;
    background-position: -108px -0;
}

.bg_8-p3 {
    width: 108px;
    height: 108px;
    background-position: -216px -0;
}

.bg_8-p4 {
    width: 108px;
    height: 108px;
    background-position: -324px -0;
}

.bg-8_ewm {
    float: right;
    width: 92px;
    height: 92px;
    background-position: -432px -0;
}

.bg_8-l2 {
    width: 57px;
    height: 65px;
    background-position: -524px -0;
}

.bg_8-l1 {
    width: 154px;
    height: 65px;
    background-position: -0 -108px;
}

.bg_8-l5 {
    width: 131px;
    height: 64px;
    background-position: -154px -108px;
}

.bg_8-rocket {
    display: inline-block;
    width: 43px;
    height: 62px;
    background-position: -285px -108px;
}

.bg_8-l3 {
    width: 143px;
    height: 58px;
    background-position: -328px -108px;
}

.bg_8-people {
    display: inline-block;
    width: 52px;
    height: 55px;
    background-position: -471px -108px;
}

.bg_8-l4 {
    width: 179px;
    height: 49px;
    background-position: -0px -173px;
}

.bg_8-archive {
    display: inline-block;
    width: 60px;
    height: 48px;
    background-position: -523px -108px;
}

.bg_8-next {
    width: 27px;
    height: 47px;
    background-position: -179px -173px;
}
.bg_8-pred {
    transform: rotateY(180deg);
}

.bg_8-right {
    width: 32px;
    height: 30px;
    background-position: -206px -173px;
}
.tishen {
    width: 32px;
    height: 30px;
    background-color: transparent;
}

.bg_8-wb {
    float: right;
    width: 26px;
    height: 26px;
    background-position: -524px -65px;
}

.bg_8-wx {
    float: right;
    width: 26px;
    height: 26px;
    background-position: -550px -65px;
}

.bg_8-qq {
    float: right;
    margin: 0 1rem 0 1rem;
    width: 27px;
    height: 26px;
    background-position: -238px -173px;
}

.bg_8-user {
    float: left;
    position: relative;
    margin: .3rem;
    width: 13px;
    height: 13px;
    background-position: -581px -0px;
}


.log {
    float: right;
    position: relative;
    margin: .3rem;
    height: 26px;
}
header {
    margin: 0 15vw;
    height: 35px;
}
.contact {
    display: inline-block;
    color: #29b078;
    font-size: .8vw;
    line-height: 35px;
}
.icon-bar{border: 1px solid #fff;}
.navbar-default {
  background-image: linear-gradient(to bottom, #29b078 0%, #29b078 100%);
  border:none !important;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 25px;
    color: #fff !important;
}
.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav li:hover {
  background-image: linear-gradient(to bottom, #29b078 0%, #29b078 100%);
  border-bottom: 3px solid #fff;
}
.navbar-default .navbar-nav > .active > a {
  color: #fff !important;
  background-color: #29b078 !important;
}
.navbar {
  height: 80px;
  padding-bottom: 0 !important;
  margin: 0 !important;
}
.navbar ul {
    margin-right: 11vw;
    margin-left: 11vw;
    margin-top: 16px;
}
.navbar-collapse {
  float: right;
  padding: 0 50px;
  border: none !important;
}
.navbar-responsive-collapse {
    width: 100%;
    text-align: center;
    background-color: #29b078;
}
.navbar-responsive-collapse li{padding: 0 1.5vw;}
.navbar-toggle {margin-top: 25px !important;}

img {width: 100vw;}

.advantages {margin: 8rem 14vw 0 14vw;}
.element {text-align: center;}
.icon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 62px;
    margin: 0 auto;
}
.element h4 {
    margin: 25px;
    font-weight: 700;
}
.element p {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #999;
    text-align: justify;
}
.line {
    float: left;
    width: 2px;
    height: 200px;
    background: repeating-linear-gradient(0deg,#fff,#fff 3px,#dedede,#dedede 20px);
}
@media(max-width: 578px) {
    .line {
        width: 100%;
        margin: 30px 0;
        height: 2px;
        background: repeating-linear-gradient(90deg,#fff,#fff 3px,#dedede,#dedede 20px);
    }
}
.amount {
    float: left;
    position: relative;
    padding: 5rem 0 0 4rem;
    width: 90%;
    color: #999;
    line-height: 2.5rem;
    font-size: 1.5rem;
}
.amount span {
    color: #26a26f;
    padding-left: 1rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.subtitle {
    margin: 7rem auto 2rem auto;
    text-align: center;
}

.bt-wrap {
    margin: 3vw 14vw;
}
.steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: #999;
    padding: 2rem 0;
}
.number {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    font-size: 2rem;
    color: #29b078;
    border-radius: 50%;
    box-shadow: 0 1px 5px #dedede;
    background-color: #fff;
}
.step {
    width: 11rem;
}

.person {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 0 5px #dedede;
}
.person h4{
    padding: 1.1rem 0;
    font-size: 1.1vw;
}
.intro {
    text-align: justify;
    font-size: 1vw;
    line-height: 2rem;
    color: #999;
}
#carousel-elite .carousel-indicators {
    bottom: -25px;
}
#carousel-elite .carousel-indicators li {
    background-color: #fff;
    box-shadow: 0 2px 2px #dedede;
}
#carousel-elite .carousel-indicators .active{
    background-color: #29b078;
    box-shadow: none;
    border: none;
}


.company {
    display: flex;
    flex-flow: row nowrap;
    margin: 2vw 14vw;
}
@media (max-width: 578px) {
    .company {
        display: flex;
        flex-flow: column nowrap;
        margin: 2vw 14vw;
        height: 60rem;
    }
}
.substrate {
    flex-grow:1;
    flex-basis: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    border-bottom-style: inset;
    background-color: #fff;
}
.substrate:hover {
    z-index: 5;
    box-shadow: 0 0 5px #dedede;
}

.links {
    margin: 0 6vw;
    background-color: #fff;
}
.links [class*="col-"] {
    padding: 10px 0;
}

.links span::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    width:5px;
    height:5px;
    background-color: #999;
    vertical-align: middle;
    border-radius: 100%;
}

.links span a {
    text-decoration: none;
    color: #999;
}
.links [class*="col-"] a:hover {
    border-bottom: 1px solid #29b078;
}


.tailwrap {
    width: 100%;
    background-color: #29b078;
}
.promotion {
    width: 74vw;
    margin: 0 13vw;
    color: #fff;
    background-color: #29b078;
}
.web {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.promotion [class*="col-"] {
    padding: 8px 15px;
}
.promotion [class*="text-"] {
    padding: 0 15px;
}
.promotion span a,.promotion [class*="col-"] a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}
.promotion span a:hover,.promotion [class*="col-"] a:hover{
    border-bottom: 1px solid #fff;
}

footer {
    text-align-last: center;
    width: 100%;
    border-top: 1px solid #32c086;
    color: #32c086;
    background-color: #29b078;
}
