*{
	margin: 0;
	padding: 0;
}
i {
	background: url(10_sprites.png) no-repeat;
}

.bg-10_box {
    display: inline-block;
    margin-top: 2px;
    margin-right: 3px;
    vertical-align: middle;
    width: 19px;
    height: 15px;
    background-position: -92px -40px;
}

.bg-10_cut {
	display: inline-block;
    margin-top: 2px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px; height: 20px;
    background-position: -92px -20px;
}

.bg-10_ewm {
	float: left;
	display: inline-block;
    width: 92px; 
    height: 92px;
    background-position: -0 -0;
}

.bg-10_rular {
	display: inline-block;
    margin-top: 2px;
    margin-right: 1px;
    vertical-align: middle;
    width: 22px; height: 20px;
    background-position:  -92px 0;
    transform: scale(0.9);
}

.clear {
	clear: both;
}
@media (max-width: 576px){
	header, nav, .progress {padding: 0 2vw;}
	.line {width: 80px;}
	main {margin: 0 2vw;}
	.options {width: 65%;}
	.promotion,.wx {flex-flow: column nowrap;}	
}
@media (min-width: 576px){
	header,nav, .progress{padding: 0 14vw;}
	.nav ul{
		display: flex;
		flex-flow: row nowrap; 
		justify-content: flex-end;
    }
	.line {width: 110px;}
	main {margin: 0 14vw;}
	.options {width: 80%;}
	.promotion {flex-flow: column nowrap;}
}

@media (min-width: 768px){
	.promotion {flex-flow: column nowrap;}
}
@media (min-width: 992px){
	.webs{width: 25%;}
	.promotion {flex-flow: row nowrap;}
}
header {
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	background-color: #1d7ad9;
}
.log {
	float: right;
}
.bor {
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
header input{
	cursor: pointer;
	outline: none;
	border: none;
	padding: 0 5px;
	background: none;
	color: #fff;	
}
.bor:hover,.bor:hover input{
	padding: 0 15px;
	color: #000;
	background-color: #fff;
}
nav{background-color: #f9f9f9;}
.nav {
	float: right;
	margin: 15px 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap; 
	justify-content: flex-end;
}
.nav input {
	cursor: pointer;
	outline: none;
	border: none;
	padding: 8px 12px;
	margin-left: 3vw;
	border-radius: 5px;
	background-color: #fff;
	color: #000;	
}
.nav input:hover {
	color: #fff;
	background-color: #1d7ad9;
}
        
.nav ul li {
    list-style: none;
    line-height: 48px;
}
     
.nav .menu {
    margin: 0 2vw;
    width: 35px;
    height: 30px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #1d7ad9;;
    border-radius: 6px;
    display: none;
}
.bar {
	height: 2px;
	width: 20px;
	margin: 2px 0;
	background-color: #1d7ad9;
}

            
@media (max-width: 576px) {
    .nav {
    	display: flex;
    	flex-flow: column nowrap; 
    	justify-content: flex-start;
    	align-items: flex-end;
    }
    .nav .menu {display: flex;}
    .nav .menu:hover+ul, .nav ul:hover{
	display: block;
	}
    .nav ul {
    	width: 100%;
        display: none;
    }
    .nav ul li {
    	width: 100%;
    	margin: 0 auto;
    }
    .nav input {
    	width: 100%;
    	margin: 0;
    }

}
.progress {
	margin: 30px 0 ;
	display: flex;
	justify-content: flex-end;

}
.line {
	display: flex;
	justify-content:center;
	align-items: center;
	
	height: 5px;
	background-color: #ccc;
}
.circle{
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	border-radius: 50%;
	background-color: #ccc;
}
.step {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #ccc;
}
.step span{
	margin-top: 15px;
}
step:hover .line {
	border-radius: 5px;
}
.step:hover .line,.step:hover .circle {
	background-color: #ff7f02;
}
.step:hover span{
	color: #ff7f02;
}
.require {
	margin: 15px 0;
	padding-left: 5px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	border-left: 2px solid #1d7ad9;
}
.subtitle {
    color: #1d7ad9;
	padding: 10px;
	font-weight: 600;
	background-color: #f3f3f3; 
	border: 1px solid #e7e7e7;
}
.subtitle span{
	vertical-align: middle;
}
.content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 8px 30px 20px;
	background-color: #fbfcff;
	border: 1px solid #e7e7e7;
}
.speci {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
.options {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.layer {
    display: flex;
    flex-flow: row wrap;
}
.options label{
	margin: 5px 10px;
}
label {cursor: pointer;}
input[type='radio'] {display: none;}
input[type='radio'] + label::before{
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    margin-right: 10px;
    vertical-align: bottom;
}
input[type="radio"]:checked + label::before 
{
	width: 5px;
    height: 5px;
	border: 6px solid #1d7ad9;
}
.more {
	width: 15%;
	float: right;
}
select {
	float: right;
	cursor: pointer;
	padding: 5px 40px 5px 10px; 
	font-size: 14px;
    color: #999;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	background: url(img/10-down.png) no-repeat scroll right;
	-webkit-appearance: none;
	height: 100%
	outline: none;
}
input[type='number']{
	width:50px;
} 
.detail {
    margin: 5px 0 ; 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-start;   
}
.detail label{
	margin: 5px 15px;
}
.cat {
	margin: 10px 0;
	white-space: nowrap;
}
.nextbutton {
	margin-bottom: 80px;
	padding: 10% 0 5% 0;
	background-color: #fbfcff;
	border: 1px solid #e7e7e7;
	display: flex;
	justify-content: center;
}
.nextbutton input {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 18px;
	padding: 10px 50px;
	background-color: #e15053;
	border-radius: 5px;
	color: #fff;	
}

.tailwrap {
    width: 100%;
}
.promotion {
    padding: 3vw 14vw; 
    color: #999;
    background-color: #f9f9f9;  
    display: flex;
    justify-content: space-between;
}

.webs {
	display: flex;
    flex-flow: row wrap;
}
.us {
	margin-top: 10px;
}
.web {
	font-size: 14px;
	margin: 10px;
	margin-left: 0;
}
.wx {
	display: flex;
	/*justify-content: flex-start;*/
	font-size: 14px;
	line-height: 30px;
}
.web span a {
    color: #999;
    text-decoration: none;
    padding-bottom: 5px; 
    white-space: nowrap;
}
.web a:hover{
    color: #1d7ad9;
}

footer {
	bottom: 0;
	font-size: 14px;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    color: #fff;
    background-color: #1d7ad9;
}
