$main-color   :  #29bde0;
$split-color  :  #f0f0f0;
$bg-color     :  #69d1e9;
$title-color  :  #fbb435;
$second-color :  #fff;
$content-color:  #9a9a9a;
$scale        :  scale(.5);
body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  background-color: $bg-color;
}
i {
  background-image: url(13_1_sprites.png);
}
@mixin transform($scale){
  transform: $scale;
  -o-transform: $scale;
  -ms-transform: $scale;
  -moz-transform: $scale;
  -webkit-transform: $scale;
}

.menu{
  display: block;
  float: left;
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: $second-color;

  .bg-7_menu1 {
    position: absolute;
    display: block;
    top: 0;
    margin: 5px;
    float: left;
    width: 34px;
    height: 27px;
    background-position: -0 -80px;
    @include transform($scale);

  }
  ul {
    display: none;
    padding: 0;
    margin: 0;
      li {
        list-style-type: none;
        padding: 5px;
        vertical-align: middle;
        border-bottom: 1px solid $split-color;
      }
    }
    &:hover {
      display: block;
      width: 80vw;
    }
    &:hover ul{
      display: block;
    }
    &:hover+main{
      margin-left: 80vw;
      border-left: 8px solid $main-color;
    }
     &:hover .bg-7_menu1 {
       right: -57px;
     }
  }
a {
  text-decoration: none;
}
main {
  float: left;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  header {
    width: 100%;
    height: 1.5rem;
    padding: .5rem;
    background-color: $main-color;
  }
  %text_common {
    text-align: center;
    color: $content-color;
    border: 1px solid $split-color;
    background-color: $second-color;
  }

  .last {
    position: relative;
    margin: 1rem;
    height: 3rem;
    font-size: 1.1rem;
    line-height: 3rem;
    @extend %text_common;
      p {
      display: inline-block;
      white-space: nowrap;
      margin: 0;
    }
  }
  .version {
    margin: 0 1rem;
    font-size: 1rem;
    @extend %text_common;
    
    p{
       white-space: nowrap;
       margin-bottom: 0;
     }
  }
  .name {
    white-space: nowrap;
    padding: .7rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $title-color;
    border-bottom: 1px solid $title-color;
  }
  .ver {
    margin: 1rem 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: $second-color;
    background-color: $bg-color;
  }

  ul.pagination {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: .5rem;
  }
  ul.pagination li {
    display: inline-block;
    margin-right:.1rem;
    border-radius: 50%;
    padding: .4rem ;
    background-color: $split-color;
  }
  ul.pagination li:hover,ul.pagination li:focus {
    background-color: $bg-color;
    text-decoration: none;
  }
}
.choose {
  position: relative;
    .bg-7_go {
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -28px;
    width: 28px; height: 56px;
    background-position: -84px -0;
    @include transform($scale);
    overflow: hidden;
  }
}


.bg-7_last {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -20px;
  width: 24px; height: 40px;
  background-position: -112px -0;
  @include transform($scale);
}
.bg-13_about {
  display: inline-block;
  width: 42px; height: 41px;
  vertical-align: middle;
  background-position:  -0 -0;
  @include transform($scale);
}

.bg-13_board {
  display: inline-block;
  width: 40px; height: 40px;
  vertical-align: middle;
  background-position:  -0 -41px;
  @include transform($scale);
}

.bg-13_help {
  display: inline-block;
  vertical-align: middle;
  width: 42px; height: 40px;
  background-position: -42px -0;
  @include transform($scale)
}

.bg-13_set {
  display: inline-block;
  vertical-align: middle;
  width: 40px; height: 40px;
  background-position:  -40px -41px;
  @include transform($scale);
}
.bg-13_enter {
  display: inline-block;
  float: right;
  margin-right: 15px;
  width: 24px; height: 40px;
  vertical-align: middle;
  background-position:  -112px -40px;
  @include transform($scale);
}

