i {
  background: url("12_2_sprites.png") no-repeat; }

* {
  padding: 0;
  margin: 0;
  font-size: 13px; }

.bg-6_loclg {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  width: 42px;
  height: 44px;
  background-position: -0 -0;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.bg-6_down {
  float: right;
  position: relative;
  width: 0.7rem;
  height: 0.5rem;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  background-position: -8.8rem -4.8rem;
  background-size: 10.5rem 6.3rem; }

.bg-6_calendar {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-position: -88px -61px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.bg-6_locms {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 23px;
  background-position: -0 -85px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.bg-6_right {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 33px;
  background-position: -88px -28px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.bg-6_house {
  width: 46px;
  height: 48px;
  background-position: -42px -0;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.bg-6_Write {
  position: absolute;
  width: 40px;
  height: 41px;
  background-position: -42px -44px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  margin: 8px 0 0 12px; }

.bg-6_man {
  width: 42px;
  height: 41px;
  background-position: -0 -44px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6); }

.large-font {
  font-size: 16px; }

.small-font {
  font-size: 12px; }

header {
  padding: 5px 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #5fc0cd;
  text-align: center; }
  header .buttons {
    display: inline-block;
    border-radius: 10px;
    background-color: #55a8b3;
    width: 140px; }
  header input {
    float: right;
    border-radius: 0.5rem;
    background-color: #55a8b3;
    width: 70px;
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    color: #fff; }
    header input:hover {
      color: #5fc0cd;
      background-color: #fff; }

.menugroup {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e5e7; }
  .menugroup .menu {
    flex: 1;
    height: 45px;
    line-height: 45px;
    text-align: center; }
    .menugroup .menu select {
      cursor: pointer;
      width: 100%;
      text-align-last: center;
      color: #999;
      border: none;
      background: url(6-down.jpg) no-repeat scroll right;
      background-size: 1.2rem;
      -webkit-appearance: none;
      outline: none; }
  .menugroup .line {
    width: 1px;
    background: linear-gradient(0deg, #fff, #ddd, #fff); }

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  height: 6rem;
  border-bottom: 1px solid #e1e5e7;
  color: #999; }
  .content .date {
    margin-left: 25px;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-weight: 600; }
  .content .price {
    line-height: 6rem; }
    .content .price span {
      vertical-align: middle;
      font-weight: 600;
      color: #e26163; }

a {
  text-decoration: none; }

.tailwrap {
  height: 4rem; }

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #f8fafb; }
  footer .footericon {
    margin: 3px 0;
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; }
  footer .circle {
    margin: 0 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5fc0cd; }
  footer .home {
    font-size: 12px;
    color: #5fc0cd; }
  footer .my {
    font-size: 12px;
    color: #999; }

/*# sourceMappingURL=task12-listpage.css.map */
